<h3><%= t("registration.new_registration") %> Step 2 - 确定批次及线路</h3>

<%= simple_form_for @registration do |f| %>

  <%= render :partial => "form", :locals => { :f => f } %>

<% end %>

<script>
  //
  $('#registration_line_id_<%= @selected_line.id %>').prop('checked', true);

  // room_share
  $(".room_share").on("change", function(){
    $("#room_mate").toggle($(this).hasClass("room_share_yes"));
  })

</script>
